[mysqld]
# 设置最大连接数
max_connections = 200
# 配置字符集
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
# 启用慢查询日志
slow-query-log = 1
long-query-time = 2
slow-query-log-file = /var/log/mysql/slow.log

# 配置复制
# 服务器ID
server-id=2
# 启用二进制日志
relay-log=slave-relay-bin
# 启用二进制日志
log-bin=mysql-bin
# 二进制日志格式
binlog-format=row
# 启用GTID
gtid-mode=ON
# 强制GTID一致性
enforce-gtid-consistency=ON
# 只读
read-only=1

# 需要同步的数据库
binlog-do-db=test_db
# 不需要同步的数据库
binlog-ignore-db=mysql
binlog-ignore-db=information_schema
binlog-ignore-db=performance_schema

# 错误日志
log-error = /var/log/mysql/error.log

socket=/var/run/mysqld/mysqld.sock

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
