[mysqld]
# 设置最大连接数
max_connections = 200
# 配置字符集
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
# 启用慢查询日志
slow-query-log = 1
long-query-time = 2
slow-query-log-file = /var/log/mysql/slow.log

# 错误日志
log-error = /var/log/mysql/error.log

socket=/var/run/mysqld/mysqld.sock